
.vs/WebTestingGrounds/v17/.suo
.vs/WebTestingGrounds/FileContentIndex/read.lock
.vs/WebTestingGrounds/FileContentIndex/e43f25e0-af55-402e-b32b-cba3d29712ad.vsidx
.vs/WebTestingGrounds/config/applicationhost.config
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
